.main{
    height: 100vh;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 100px;
}

.main .wrapper{
    height: calc(100vh - 70px);
    width: calc(100vw - 150px);
}

.wrapper .top_wrapper{
    background-color: #3277a8;
    height: calc(100vh - 250px);
    position: relative;
    border-radius: 25px;
}

.top_wrapper h3{
    padding-top: 8px;
    margin-bottom: 0px;
}
.top_wrapper .chat_embedding{
    border-radius: inherit;
    position: absolute;
    background-color: white;
    height: calc(100% - 40px);
    width: calc(100% - 150px);
    max-width: 100%;
    bottom: 2px;
    margin: 5px 15px;
}
.new_user h1{
    text-align: left;
    margin: 10px 300px;
}
.new_user h4{
    text-align: left;
    margin: 10px 200px;
}
.new_user p{
    text-align: left;
    margin: 10px 1000px 500px 200px;
}
.top_wrapper .update_button{
    position: absolute;
    height: 70px;
    width: 70px;
    right: 3%;
    margin-top: 250px;
}

.wrapper .bottom_thing{
    background-color: grey;
    height: 100px;
    position: relative;
    width: 80%;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}